html, body { height: 100%; }
body {
  /* background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, #030423); */
  background-color: #16618d;


  overflow: hidden;
}

nav{
  background-color: #053f67;
}

.barnav{
  background-color: #053f67;
  text-transform: uppercase;
}
.navitem{
  text-transform: uppercase;
  font-size: 100%;
  padding-top: 10px;
  letter-spacing: 1px;
  transition: 0.5s;
  color: white;
}

.navitem:hover{
  border-bottom: 2px solid #042446;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  color: #042446;
  font-weight: bold;
}

.nameuser{
  letter-spacing: 1px;
}

.updateinfo{
  text-transform: uppercase;
}

.ocean {
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}


.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}


@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

@keyframes color {
  20%  { background: #00CED1; }
  40%  { background: #4B9CD3; }
}

.wave1 {
  background: #33CCCC; /* Fallback */
  animation: color 9s infinite linear;
  margin-left: 140px;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 5px
}
.wave1 {
  text-align: center;
  color: white;
}
